/BusinessLogic/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ConsoleUI/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Domain/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Persistence/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/ConsoleUI/obj/Debug/net9.0/apphost.exe
/BusinessLogic/obj/Debug/net9.0/Business.CF5D6E35.Up2Date
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.AssemblyInfo.cs
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.AssemblyInfoInputs.cache
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.assets.cache
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.csproj.AssemblyReference.cache
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.csproj.CoreCompileInputs.cache
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.csproj.FileListAbsolute.txt
/BusinessLogic/obj/BusinessLogic.csproj.nuget.dgspec.json
/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.props
/BusinessLogic/obj/BusinessLogic.csproj.nuget.g.targets
/BusinessLogic/bin/Debug/net9.0/BusinessLogic.deps.json
/BusinessLogic/bin/Debug/net9.0/BusinessLogic.dll
/BusinessLogic/obj/Debug/net9.0/ref/BusinessLogic.dll
/BusinessLogic/obj/Debug/net9.0/refint/BusinessLogic.dll
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.dll
/ConsoleUI/bin/Debug/net9.0/BusinessLogic.dll
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.GlobalUsings.g.cs
/BusinessLogic/bin/Debug/net9.0/BusinessLogic.pdb
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.pdb
/ConsoleUI/bin/Debug/net9.0/BusinessLogic.pdb
/BusinessLogic/obj/Debug/net9.0/BusinessLogic.sourcelink.json
/ConsoleUI/bin/Debug/net9.0/claims.json
/ConsoleUI/bin/Debug/net9.0/clients.json
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.AssemblyInfo.cs
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.AssemblyInfoInputs.cache
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.assets.cache
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.csproj.AssemblyReference.cache
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.csproj.CoreCompileInputs.cache
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.csproj.FileListAbsolute.txt
/ConsoleUI/obj/ConsoleUI.csproj.nuget.dgspec.json
/ConsoleUI/obj/ConsoleUI.csproj.nuget.g.props
/ConsoleUI/obj/ConsoleUI.csproj.nuget.g.targets
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.csproj.Up2Date
/ConsoleUI/bin/Debug/net9.0/ConsoleUI.deps.json
/ConsoleUI/bin/Debug/net9.0/ConsoleUI.dll
/ConsoleUI/obj/Debug/net9.0/ref/ConsoleUI.dll
/ConsoleUI/obj/Debug/net9.0/refint/ConsoleUI.dll
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.dll
/ConsoleUI/bin/Debug/net9.0/ConsoleUI.exe
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.genruntimeconfig.cache
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.GlobalUsings.g.cs
/ConsoleUI/bin/Debug/net9.0/ConsoleUI.pdb
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.pdb
/ConsoleUI/bin/Debug/net9.0/ConsoleUI.runtimeconfig.json
/ConsoleUI/obj/Debug/net9.0/ConsoleUI.sourcelink.json
/Domain/obj/Debug/net9.0/Domain.AssemblyInfo.cs
/Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
/Domain/obj/Debug/net9.0/Domain.assets.cache
/Domain/obj/Debug/net9.0/Domain.csproj.CoreCompileInputs.cache
/Domain/obj/Debug/net9.0/Domain.csproj.FileListAbsolute.txt
/Domain/obj/Domain.csproj.nuget.dgspec.json
/Domain/obj/Domain.csproj.nuget.g.props
/Domain/obj/Domain.csproj.nuget.g.targets
/Domain/bin/Debug/net9.0/Domain.deps.json
/BusinessLogic/bin/Debug/net9.0/Domain.dll
/ConsoleUI/bin/Debug/net9.0/Domain.dll
/Domain/bin/Debug/net9.0/Domain.dll
/Domain/obj/Debug/net9.0/ref/Domain.dll
/Domain/obj/Debug/net9.0/refint/Domain.dll
/Domain/obj/Debug/net9.0/Domain.dll
/Persistence/bin/Debug/net9.0/Domain.dll
/Domain/obj/Debug/net9.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/Domain/obj/Debug/net9.0/Domain.GlobalUsings.g.cs
/BusinessLogic/bin/Debug/net9.0/Domain.pdb
/ConsoleUI/bin/Debug/net9.0/Domain.pdb
/Domain/bin/Debug/net9.0/Domain.pdb
/Domain/obj/Debug/net9.0/Domain.pdb
/Persistence/bin/Debug/net9.0/Domain.pdb
/Domain/obj/Debug/net9.0/Domain.sourcelink.json
/ConsoleUI/bin/Debug/net9.0/Newtonsoft.Json.dll
/Persistence/obj/Debug/net9.0/Persiste.61C28332.Up2Date
/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfo.cs
/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
/Persistence/obj/Debug/net9.0/Persistence.assets.cache
/Persistence/obj/Debug/net9.0/Persistence.csproj.AssemblyReference.cache
/Persistence/obj/Debug/net9.0/Persistence.csproj.CoreCompileInputs.cache
/Persistence/obj/Debug/net9.0/Persistence.csproj.FileListAbsolute.txt
/Persistence/obj/Persistence.csproj.nuget.dgspec.json
/Persistence/obj/Persistence.csproj.nuget.g.props
/Persistence/obj/Persistence.csproj.nuget.g.targets
/Persistence/bin/Debug/net9.0/Persistence.deps.json
/BusinessLogic/bin/Debug/net9.0/Persistence.dll
/ConsoleUI/bin/Debug/net9.0/Persistence.dll
/Persistence/bin/Debug/net9.0/Persistence.dll
/Persistence/obj/Debug/net9.0/ref/Persistence.dll
/Persistence/obj/Debug/net9.0/refint/Persistence.dll
/Persistence/obj/Debug/net9.0/Persistence.dll
/Persistence/obj/Debug/net9.0/Persistence.GeneratedMSBuildEditorConfig.editorconfig
/Persistence/obj/Debug/net9.0/Persistence.GlobalUsings.g.cs
/BusinessLogic/bin/Debug/net9.0/Persistence.pdb
/ConsoleUI/bin/Debug/net9.0/Persistence.pdb
/Persistence/bin/Debug/net9.0/Persistence.pdb
/Persistence/obj/Debug/net9.0/Persistence.pdb
/Persistence/obj/Debug/net9.0/Persistence.sourcelink.json
/ConsoleUI/bin/Debug/net9.0/policies.json
/BusinessLogic/obj/project.assets.json
/ConsoleUI/obj/project.assets.json
/Domain/obj/project.assets.json
/Persistence/obj/project.assets.json
/BusinessLogic/obj/project.nuget.cache
/ConsoleUI/obj/project.nuget.cache
/Domain/obj/project.nuget.cache
/Persistence/obj/project.nuget.cache
/BusinessLogic/obj/project.packagespec.json
/ConsoleUI/obj/project.packagespec.json
/Domain/obj/project.packagespec.json
/Persistence/obj/project.packagespec.json
/BusinessLogic/obj/rider.project.model.nuget.info
/ConsoleUI/obj/rider.project.model.nuget.info
/Domain/obj/rider.project.model.nuget.info
/Persistence/obj/rider.project.model.nuget.info
/BusinessLogic/obj/rider.project.restore.info
/ConsoleUI/obj/rider.project.restore.info
/Domain/obj/rider.project.restore.info
/Persistence/obj/rider.project.restore.info
